@model IEnumerable<Zabuka.Models.Property>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Properties</h3>
<hr />
<p>@Html.ActionLink("New Customer", "New", "Customer", new { @class = "btn btn-primary" })</p>
<hr />
@if (!Model.Any())
{
    <p>There is no customer registered!</p>
}
else
{
    foreach (var item in Model)
    {
    <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@item.PropertyName</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">@item.PropertyPurpose</small></p>
                <p class="card-text"><small class="text-muted">@item.PropertyPrize PKR</small></p>
                <a href="#" class="btn btn-primary">Detail</a>
            </div>
        </div>
    </div>
    </div>
    }
}

