<div class="container d-flex align-items-center col-md-10">

    <h1 class="logo me-auto"><a href="/">Zabuka</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="~/Assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li class="dropdown">
                <a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="ECommerce/ECommericeDetail">E-Commerce</a></li>                   
                    <li><a href="/RealState/RealStateDetails">Real State</a></li>
                    <li><a href="#">Talent Bank</a></li>
                    <li><a href="/InvesterCorner/InvesterCornerDetail">Investor Corner</a></li>
                    <li><a href="/Booking/Search">Booking Online</a></li>
                    <li><a href="#">branding your Business</a></li>
                    <li><a href="#">Insurance</a></li>
                    <li><a href="#">Traning &amp; Development</a></li>
                    <li><a href="#">Human Rights &amp; Citizen Duties</a></li>
                    <li><a href="#">Sports and Entertainments</a></li>
                    <li><a href="#">Blogs</a></li>

                </ul>
            </li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
</div>
